<style>
body {
    padding-top: 150px;
}



</style>

<form ng-submit="addHouse()" class="form-inline point-form">
    <div class="form-group">
        <label class="sr-only" for="houseName">House name</label>
        <input ng-model="newHouse.name" type="text" class="form-control" id="houseName">
    </div>
    <div class="form-group">
        <label class="sr-only" for="totalPoints">Score Count</label>
        <input ng-model="newHouse.totalPoints" type="text" class="form-control" id="totalPoints" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Add House</button>
</form>


<form id="pointform" ng-repeat="house in houses" ng-submit="sendPoints(house)" class="form-inline point-form">
    <div class="form-group point-form">
        <div>
            <label for="houseName" class="sr-only">House</label>{{ house.name }}</div>
        <div>
            <input ng-model="house.amount" type="number" id="houseName" class="form-control">

            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
