<style>
body {
    padding-top: 75px;
}



</style>

<!-- <form ng-submit="addHouse()" class="form-inline point-form">
    <div class="form-group">
        <label class="sr-only" for="houseName">House name</label>
        <input ng-model="newHouse.name" type="text" class="form-control" id="houseName">
    </div>
    <div class="form-group">
        <label class="sr-only" for="totalPoints">Score Count</label>
        <input ng-model="newHouse.totalPoints" type="text" class="form-control" id="totalPoints" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Add House</button>
</form>
 -->

<form id="pointform" ng-repeat="team in teams" ng-submit="sendPoints(team)" class="form-inline point-form">
    <div class="form-group point-form">
        <div>
            <label for="teamName" class="sr-only">House</label>{{ team.name }}</div>
        <div>
            <input ng-model="team.amount" type="number" id="teamName" class="form-control">

            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
