<style>
.Gryffindor {
    background-color: #CE000C;
}
.Ravenclaw {
    background-color: #003E90;
}
.Hufflepuff {
    background-color: #FFB72C;
}
.Slytherin {
    background-color: #007523;
}
{
    font-family: 'Fanwood Text', serif;
    font-size: 30px;
    font-weight: 500;
    margin-left: 0;
    background: url(/img/stardust.png);
    opacity: 100%;
}
body {
    margin: 0px;
    padding-top: 1em;
    background: url(/img/stardust.png);
}
.row {
    background: rgba(25, 25, 25, 0);
}
.thumbnail {
    color: #fff;
    background: rgba(25, 25, 25, 0);
    border: 0px;
    box-shadow: 0px;
    margin-bottom: 0px;
}
.thumbnail h1 {
    font-family: 'Fanwood Text', serif;
    font-size: 7em;
    font-weight: 500;
}
.house-name {
    font-family: 'Fanwood Text', serif;
    color: #fff;
}
.house-name h2 {
    color: #fff;
    font-size: 40px;
}

.notification-div {
    -webkit-box-shadow: rgb(235, 161, 23) 0px 0px 162px 0px;
    /*background-color: rgb(81, 163, 81);*/
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: rgb(235, 161, 23) 0px 0px 162px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
    height: 296px;
    line-height: 25.7142868041992px;
    margin-bottom: 0px;
    margin-left: 52.15625px;
    margin-right: 52.15625px;
    margin-top: 0px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 15px;
    padding-top: 15px;
    top: 45%;
}


.notification-div p {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 121px;
    font-weight: bold;
    height: 256px;
    line-height: 128.571441650391px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    word-wrap: break-word;
    z-index: 36;
}


.-show-hide {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
    -webkit-animation: bounceIn 2.5s;
    animation: bounceIn 2.5s;}

.-show-hide.ng-hide {
    -webkit-animation: flipOutX 2.5s;
    animation: flipOutX 2.5s;
    display: block !important;
    opacity: 0}

#toast-container {
    z-index: 999999;
    width: 100%;
    position: fixed;
    top: 35%;

    /*overrides*/


}
.display-header {
    font-family: 'Fanwood Text', serif;
    height: 120px;
    font-size: 155px;
    font-weight: 500;
    margin-left: 0;
    margin-bottom: 10%;
    opacity: 100%;
    /* padding-top: 100px; */
}

</style>
<div class="container" id="toast-container">
<div class="check-element -show-hide notification-div" ng-class="notifications.name" ng-show="notifications.show" style="clear:both;">
    <p class="text-center">{{notifications.newcount}} points for {{notifications.name}}!</p>
</div>
</div>
<div class="text-center display-header" style="color: white">HOUSE CUP</a></div>

<div class="row">
    <div ng-repeat="house in houses" class="col-sm-3 col-lg-3">
        <div class="thumbnail text-center">
            <h1>{{ house.totalPoints }}</h1>
            <img ng-src="/img/{{house.name}}.png" />
        </div>
    </div>
    <div ng-repeat="house in houses" class="col-sm-3 col-lg-3">
        <div class="text-center house-name">
            <h2>{{ house.name }}</h2>
        </div>
    </div>
</div>

<!-- Old score grid
<div class="center-container">
    <div class="center-row crest">
        <div ng-repeat="house in houses" class="col-xs-3 text-center opaque" ng-class="house.name">
            <h2>{{ house.totalPoints }}</h2>
            <h5>{{ house.name }}</h5>
        </div>
    </div>
</div> -->